<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377917079357-9ab1o0d2f9set00mu59vu8jgqghuhb5r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377917079357-9ab1o0d2f9set00mu59vu8jgqghuhb5r</string>
	<key>API_KEY</key>
	<string>AIzaSyD_qO599NbWT3pDDfhigAUHlKuqDByuPUU</string>
	<key>GCM_SENDER_ID</key>
	<string>377917079357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>as.GoalsList</string>
	<key>PROJECT_ID</key>
	<string>goalslistapp</string>
	<key>STORAGE_BUCKET</key>
	<string>goalslistapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377917079357:ios:2be849221db22a481f0f54</string>
</dict>
</plist>